// COLORS

$primary: #27aae1;
$secondary: #182047;
$success: #33a86f;
$warning: #faad42;
$info: #26a5dc;
$dark: #58595b;

$navbar-color: #3a3a3a;

$footer-background-color: #202d3e;
$footer-color: #ffffff;
$border-radius: 5px;

$department-color-1: #fff2f2;
$department-color-2: #fed9d6;
$department-color-3: #fdc3bb;
$department-color-4: #fcb3a0;
$department-color-5: #faaa86;
$department-color-6: #f7ab6d;
$department-color-7: #f5b557;
$department-color-8: #f1cb42;
$department-color-9: #edec30;
$department-color-10: #b8e921;
$department-color-12: #75e413;
$department-color-12: #26de08;
$department-color-13: #00d732;
$department-color-14: #00cf87;
$department-color-15: #00b3c7;
$department-color-16: #0050bd;
$department-color-17: #0d00b3;
$department-color-18: #6000a9;
$department-color-19: #9e0094;
$department-color-20: #920044;
$department-color-21: #870002;
$department-color-22: #711111;

@import "ember-bootstrap/bootstrap";
@import "mi-guatemala";

// Paragraph
.text-soft {
    opacity: 0.8;
}

// Ember power select
.ember-power-select-trigger {
    @extend .form-control;

    .ember-power-select-selected-item, .ember-power-select-placeholder {
        padding: 0.2rem 0.75rem;
    }
}

// Container
.container-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

// Preview hospital / Portfolio
.preview-hospital {
    padding: 20px;
    // Space between others preview-hospital components
    margin-top: 20px;
    margin-bottom: 20px;

    .image-column {
        height: 100%;
        overflow: hidden;
        margin-bottom: 10px;

        img {
            margin-top: 25px;
            width: 80%;
        }
    }


    p {
        height: 5rem;
        padding: 20px;
    }
}

@include media-breakpoint-up(md) {
    .preview-hospital {

        .image-column {
            height: 12rem;

            img {
                margin-top: 25px;
                width: 80%;
            }
        }

        p {
          padding: 0;
        }

        button {
            margin-top: 3.5rem;
        }
    }
}

// Filters and search
.filters {
    .form-control {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

// Text special truncate
// TY: http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/;
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.7rem; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

// Tabla de gradación
.tabla-gradacion-content,
.tabla-tachas-header {
    font-size: 18px;
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 0px;
    color: $secondary;
}


.tabla-gradacion-content > .row {
    padding: 25px 15px;
    border-bottom: solid 1px #ddd;
}

.tabla-gradacion-content .text-container {
    padding-left: 25px;
    margin-top: 12px;
}

.tabla-gradacion-content .badge {
    font-size: 14px;
    padding: 11px 13px;
    background-color: $info;
    margin-top: 10px;
}

.tabla-gradacion-content .text-container {
    padding-left: 0px;
    margin-top: 13px;
}

.tabla-gradacion-content > .row {
    padding-left: 0px;
    padding-right: 0px;
}

// Panel biografia
#biografia-container {
    background-color: #1b2b3a;
    color: #FFFFFF;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}


// ANIMATIONS

.slider {
    width: 100%;
    height: 30rem;
}

@include media-breakpoint-up(sm) {
    
}

@include media-breakpoint-up(md) {
    .slider {
        width: 100%;
        height: 42vw;
    }
}

.ambulance {
    position: absolute;
    height: 4vw;
    width: auto;
    margin-top: 90px;
    top: 38vw;
    right: 0%;
}

.animate-to-left {
    position: absolute;
    animation-direction: normal;
    animation-name: move-to-left;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

/* Standard syntax */
@keyframes move-to-left {
    0%   {top: 38vw; right: 0%;}
    100% {top: 38vw; right: 100%;}
}

@import "ember-power-select";
