{{!-- Slider --}}
{{!-- En pantalla pequeña --}}
<div
  class="slider d-block d-sm-none text-center"
  style="background-image: url('img/slider-sm.png'); background-size: cover;">
  <div class="container container-padding">
    <div class="row">
      <div class="col-10 text-center offset-1">
        <h1 class="text-dark">¡Tejiendo Salud!</h1>
        <p class="text-soft">
          Visualizá y compará indicadores de los Hospitales y Centros de salud de Guatemala.
        </p>
        <button class="btn btn-success rounded">
          Más información
        </button>
      </div>
    </div>
  </div>
</div>
{{!-- En pantalla grande --}}
<div
  class="slider d-none d-sm-block"
  style="background-image: url('img/slider.png'); background-size: cover;">
  <div class="container container-padding">
    <div class="row">
      <div class="col-sm-8 col-lg-5 text-left">
        <h1>¡Tejiendo Salud!</h1>
        <p>
          Visualizá y compará indicadores de los Hospitales y Centros de salud de Guatemala.
        </p>
        <button class="btn btn-success rounded">
          Más información
        </button>
      </div>
    </div>
  </div>
</div>
{{!-- Filters and search --}}
{{!-- Fluid light container --}}
<div class="bg-light w-100">
  <div class="container container-padding">
    <div class="row">
      <div class="col-10 offset-1 col-md-8 offset-md-2">
        {{#power-select
          options=model.hospitals
          searchField="nombre"
          onchange=(action "selectProfile")
          placeholder="Buscar hospital o centro de salud."
          class="form-control"
          as |hospital|
        }}
          {{hospital.nombre}}
        {{/power-select}}
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 col-md-4 offset-md-2 filters">
        {{!-- Departamento --}}
        {{one-way-select
          options=departments
          update=(queue (action (mut selectedDepartment)) (action "applyFilter"))
          class="form-control"
        }}
      </div>
      <div class="col-10 offset-1 col-md-4 offset-md-0 filters">
        {{!-- Hospital/Centro de salud --}}
        {{one-way-select
          options=types
          update=(queue (action (mut selectedType)) (action "applyFilter"))
          class="form-control"
        }}
      </div>
    </div>
  </div>
</div>
{{!-- Portofolio preview-hospital --}}
{{!-- White container --}}
<div class="container container-padding">
  {{preview-hospital institutions=model.hospitals}}
</div>
