{{!-- Portfolio --}}
{{#if model.config.useFrontPortfolioVisualization}}
  <div class="container-fluid bg-white">
    <div>
      {{front-portfolio
        profiles=model.profiles
      }}
    </div>
  </div>
{{/if}}
